.Text {
  float:left;
  justify-content: center;
  align-items: center;
  width: 50%;
  font-size: 24px;
}
.Img {
  width: 189px;
  float:left;
  position: relative;
  top: 100px;
  left:100px;
  height: 187px;
  background-image: url("../../assets/img/tryb.svg");
  transform: rotate(0deg);
}

.Img2 {
  width: 189px;
  float:left;
  position: relative;
  top: 20px;
  left:71px;
  height: 187px;
  background-image: url("../../assets/img/tryb.svg");
  transform: rotate(-3deg);
}
.SubContainer {
  float:left;
  width: 40%;
}
.SubContainer2 {
  float:left;
  width: 50%;
  margin-right: 10%;
}
.Wraper {
  width: 100%;
  min-height: 500px;
  margin-top: 450px;
}

.TextBlock {
  width: 100%;
  float:left;

}
